*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* General Styling */
.container {
    max-width: 1128px;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
}

/* First section */
.first-section {
    background-color: #F3EED9;
    min-height: 660px;
    align-items: center;
    justify-content: center;
}


.title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 60px;
    color: #824936;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 10px;
    margin-bottom: 1em;
}

/* second section */

.second-section {
    margin: 4rem 0;
}

.section-title {
    font-size: 36px;
    font-family: 'Playfair Display', sans-serif;
    color: #824936;
    text-align: center;
    margin-bottom: 1em;
}


.second-paragraphs {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.section-paragraph {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
}